#particles-js{
	background-color: #5918b6;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  z-index: -1;

}
html {
overflow:auto;
}

h1, h2, h3, p{
    font-family: ralewayregular;
}

#text-title{
    color: #ffffff;
}
#text-subtitle{
    color: #c9c9c9;
    margin-left:2vh
}

.display-1{
    font-family: ralewaythin;
}

#main{
    position: absolute;
    top:35%;
    padding: 5vw;
}
footer{
    background-color: #4b2187;
}

/* Responsive Fonts */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
  }
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw) !important;
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw) !important;
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw) !important;
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw) !important;
  }
  .close {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
}


