#particles-js{
	background-color: #5918b6;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    z-index: -1;

}
html {
overflow:auto;
}

h1, h2, h3, p{
    font-family: ralewayregular; 
}

#main{
    position: absolute;
    top:35%;
    padding: 5vw;
}

